<!DOCTYPE html>
<html>
<head>
  <title>TopFives</title>
  <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap-responsive.min", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Top Fives!</a>

            <!-- shown on smaller screens -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a><!--/.btn-navbar -->

            <!-- shown on full-size screens (over 940px) -->
            <div class="nav-collapse">
                <nav class="main_nav">
                    <ul class="nav">
                        <li>
                            <a title="Home Page" class="button white home" href="/">                Home
                            </a>
                        </li>
                   </ul>
                </nav>
            </div><!--/.nav-collapse -->

        </div>
    </div>
</div>

<%= yield %>

<footer>
    <div class="container">
        <p>by <a href="http://twitter.com/mike_dory">@mike_dory</a>.</p>
    </div>
</footer>

</body>
</html>